* {
  margin: 0;
  font-family: "Trebuchet MS";
}

body {
  background-color: #f7f7f7;
}

p {
  color: #737373;
}
.container {
  padding: 0px 150px;
}

/* pseudo class */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#header {
  background-color: #f7f7f7;
  height: 80px;
  padding-top: 20px;
  box-sizing: border-box;
}

#logo {
  width: 30%;
  float: left;
}

#navigation {
  width: 40%;
  float: right;
  text-align: right;
  margin-top: 8px;
}

#navigation ul li {
  float: left;
  list-style: none;
  margin-right: 10px;
  font-weight: 600;
  color: #4e4e4e;
  font-size: 16px;
}

#main-image-section img {
  width: 100%;
}
#bussiness-container {
  border-bottom: 3px solid #e1e1e1;
}
.bussiness-items {
  float: left;
  width: 25%;
  text-align: center;
  padding-bottom: 60px;
}

.bussiness-items img {
  margin-bottom: 20px;
}

.bussiness-items h3 {
  margin-bottom: 20px;
  color: #4e4e4e;
}

#bussiness-main-container {
  margin-top: 70px;
}

#main-heading {
  color: #4e4e4e;
  margin-top: 60px;
  font-weight: 600;
}

.work-items {
  float: left;
  width: 30%;
  margin-right: 5%;
}

/* : pseudo classes */
.work-items:nth-child(3) {
  margin-right: 0px;
}

.work-items img {
  width: 100%;
}

.work-items h3 {
  color: #4e4e4e;
  margin-top: 10px;
}
.work-items .gray-paragraph {
  color: #bebebe;
  margin-top: 10px;
  margin-bottom: 20px;
}

#works-container {
  margin-top: 30px;
}

#testimonials-container {
  height: 200px;
  background-color: #efefef;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  margin-top: 60px;
}

#testimonials-container img {
  margin-bottom: 20px;
}

#testimonials-container p {
  color: #ababab;
}

#footer {
  background-color: #1f1f1f;
  /* height: 400px; */
  padding-top: 60px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.footer-items {
  float: left;
  width: 23%;
  margin-right: 2%;
}
.footer-items:nth-child(4) {
  margin-right: 0px;
}

.footer-items h4 {
  text-transform: uppercase;
  color: #6c6c6c;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-items p {
  margin-bottom: 40px;
  color: #b8b8b8;
}

#sub-footer {
  border-bottom: 2px solid #313131;
  margin-bottom: 60px;
}
#twitter-footer p {
  position: relative;
}
#twitter-footer p:before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/tweet.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -20px;
  top: 5px;
}

/* media query sab se niche likhni hoti hai */

/* 
900 k bad ye css apply hogi
*/

@media (max-width: 900px) {
  .container {
    padding: 0px 40px;
  }
}

/* 
780 ke bad yee css apply width hogi
*/
@media (max-width: 780px) {
  #header {
    padding: 0px;
    height: auto;
  }
  #logo {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #navigation {
    float: none;
    width: 100%;
  }
  #navigation ul {
    text-align: center;
    padding: 0;
  }
  #navigation ul li {
    float: none;
    margin-bottom: 20px;
  }
  .bussiness-items {
    float: none;
    width: 100%;
  }
  .work-items {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  #footer {
    text-align: center;
  }
  .footer-items {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  #main-heading {
    text-align: center;
  }
}
